h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  
}

header {
  background-color: navy;
  color: azure;
  /* display: flex; */
}

h1{
  color: rgb(193, 193, 235);
}

.user{
  color: aliceblue;
  background-color: navy;
}

Link{
  color: aliceblue;
  background-color: black;
}

/* @media screen and (max-width: 765px){
  .user{
    color: aliceblue;
    background-color: black;
  }
} */